
html, body, #app, section.section {
  height: 100%;
}

body {
    background: -webkit-linear-gradient(#C6FFDD, #FBD786, #f7797d);
}

section.section {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.title {
    color: white;
    font-family: 'Fjalla One', sans-serif;
    letter-spacing: 2px;
}