
html, body, #app, section.section {
  height: 100%;
}

body {
    background: -webkit-linear-gradient(yellow, tomato);
}

section.section {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.title {
    color: white;
}